<!-- <style>
  .schools a {
    display: block;
    padding: 12px 5px 12px 15px;
  }
  .schools a span {
    padding-left: 12px;
  }
</style>
<div class="user-panel">
  <div class="pull-left info" style="top: 30%">
    <h1>{{ name }}</h1>
    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
  </div>
</div>
<div *ngIf="!school" class="row schools">
  <div class="col-xs-12">
    <a href="{{ '/register/school/' + schoolId }}"
      ><i class="fa fa-user"></i><span>School Profile</span></a
    >
  </div>
</div>
<div *ngIf="school" class="row schools">
  <div class="col-xs-12">
    <a href="school/list"><i class="fa fa-users"></i><span>Schools</span></a>
  </div>
</div>
<div *ngIf="school" class="row schools">
  <div class="col-xs-12">
    <a href="quiz"><i class="fa fa-question"></i><span>Quiz</span></a>
  </div>
</div>
<div *ngIf="school" class="row schools">
  <div class="col-xs-12">
    <a href="exam"><i class="fa fa-university"></i><span>Exam</span></a>
  </div>
</div>
<div *ngIf="school" class="row schools">
  <div class="col-xs-12">
    <a href="winners"><i class="fa fa-trophy"></i><span>Winners</span></a>
  </div>
</div> -->
